---
layout: top
---

<div class="content-wrapper">

<section class="section-about top-section">
  <h2 class="top-subHeader">グラフィックレコーディングとは？</h2>
  <p><img src="img/about.png" alt="" width="450"></p>
  <p>グラフィックレコーディングとは、会議での議論やカンファレンスの流れを視覚化し、参加者へ共有する手法です。参加者の思考発話内容をリアルタイムで視覚的にわかりやすく伝えることができるので、アイディア創発の場や、会議での合意形成を促します。</p>

  <p><a href="#{popup}" class="pure-button pure-button-primary" id="slideBtn">（グラフィックレコーディングの説明）</a></p>
  <p class="-mt60"><img src="img/about2.png" alt="アイデア創発、合意形成、理解を深める" width="550"></p>
</section>

<section class="section-aboutus top-section">
  <h2 class="top-subHeader">グラフィックレコーディング勉強会とは</h2>
  <p>わたしたちは、「グラフィックレコーディングを通して、ヒトの想いと想いをつなげる架け橋となるような場を、世の中に提供していきたい」と考え、集まった有志の団体です。いつの日か、グラフィックレコーディングが暮らしの中で当たり前のように使われる日を夢見て、活動を推進しています。楽しみながらグラフィックレコーディングを学び、トレーニング方法を体験できる、独自のワークショップを提供しています。</p>
</section>

<section class="section-workshop top-section">
  <h2 class="top-subHeader">グラレコ勉強会のワークショップ</h2>

  <p><img src="img/ws.png" alt="" width="450"></p>
  <p>「ヒトの想いを見えるようにしたい、つなぎたい」。グラフィックレコーディング勉強会のワークショップは、そんな願いをもつ多くの団体・企業から注目されています。
ワークショップは大きくわけて2種類あります。「グラフィックレコーディングをやってみたい」という方向けの初級編、「グラフィックレコーディングを活かしたい」という方向けの活用編です。<br>プログラムを開発しているのは、ワークショップデザイナーやグラフィックレコーダー、プロのファシリテーター。独自にグラフィックレコーディング習得メソッドを開発しています。「楽しい！」「続けたい！」という参加者のみなさんに想いを持ち帰ってもらい、毎日の活動につなげられるようなプログラムを提供しています。</p>

  <p><a href="{{ site.page_workshop_url }}" class="pure-button pure-button-primary">ワークショッププログラムの説明</a></p>
</section>

<section class="section-nextevent top-section">
  <h2 class="top-subHeader">次回のイベント</h2>

  {% include event-info.html %}
</section>

<section class="section-activities top-section">
  <h2 class="top-subHeader">活動実績</h2>

  <ul class="report-list">
    {% for post in site.posts limit:5 %}
      <li><a href="{{post.url}}" class="report-item">
        <img class="thumb" src="holder.js/160x160" alt="{{ post.thumb }}">
        <p class="title">{{ post.title }}</p>
<!--          {{ post.excerpt }}-->
        <dl class="detail">
          <dt class="label">日時</dt>
          <dd class="data">{{ post.date | date: "%Y/%-m/%-d" }}</dd>
          <dt class="label">レベル</dt>
          <dd class="data">{{ post.categories }}</dd>
          <dt class="label">会場</dt>
          <dd class="data">{{ post.place }}</dd>
          <dt class="label">依頼元</dt>
          <dd class="data">{{ post.company }}</dd>
        </dl>
      </a></li>
    {% endfor %}
  </ul>

  <p><a href="{{ site.page_url_activities }}" class="pure-button pure-button-primary">過去の実績一覧</a></p>
</section>

<!-- /contents-wrapper --></div>

<div id="slideModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" id="modalClose">X</span>
    <iframe src="//www.slideshare.net/slideshow/embed_code/key/DrOm6VpG7in1uE" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/azumiwada7/ss-53517525" title="イメージや情報を見える化しよう！ グラフィックレコーディング・ワークショップ" target="_blank">イメージや情報を見える化しよう！ グラフィックレコーディング・ワークショップ</a> </strong> from <strong><a target="_blank" href="//www.slideshare.net/azumiwada7">Azumi Wada</a></strong> </div>
  </div>
</div>

<script src="js/top.js"></script>
