---
layout: top
---

<div class="content-wrapper">

<section class="section-about top-section">
  <h2>グラフィックレコーディングとは？</h2>
  <p><img src="img/about.png" alt="" width="300"></p>
  <p>グラフィックレコーディングとは、会議での議論やカンファレンスの流れを視覚化し、参加者へ共有する手法です。参加者の思考発話内容をリアルタイムで視覚的にわかりやすく伝えることができるので、アイディア創発の場や、会議での合意形成を促します。</p>
  <p><a href="{popup}" class="pure-button">（グラフィックレコーディングの説明）</a></p>
</section>

<section class="section-aboutus top-section">
  <h2>グラフィックレコーディング勉強会とは</h2>
  <p>わたしたちは、「グラフィックレコーディングを通して、ヒトの想いと想いをつなげる架け橋となるような場を、世の中に提供していきたい」と考え、集まった有志の団体です。いつの日か、グラフィックレコーディングが暮らしの中で当たり前のように使われる日を夢見て、活動を推進しています。楽しみながらグラフィックレコーディングを学び、トレーニング方法を体験できる、独自のワークショップを提供しています。</p>
</section>

<section class="section-workshop top-section">
  <h2>グラレコ勉強会のワークショップ</h2>

  <p>「ヒトの想いを見えるようにしたい、つなぎたい」。グラフィックレコーディング勉強会のワークショップは、そんな願いをもつ多くの団体・企業から注目されています。
ワークショップは大きくわけて2種類あります。「グラフィックレコーディングをやってみたい」という方向けの初級編、「グラフィックレコーディングを活かしたい」という方向けの活用編です。<br>プログラムを開発しているのは、ワークショップデザイナーやグラフィックレコーダー、プロのファシリテーター。独自にグラフィックレコーディング習得メソッドを開発しています。「楽しい！」「続けたい！」という参加者のみなさんに想いを持ち帰ってもらい、毎日の活動につなげられるようなプログラムを提供しています。</p>

  <p><a href="{{ site.page_workshop_url }}" class="pure-button">ワークショッププログラムの説明</a></p>
</section>

<section class="section-nextevent top-section">
  <h2>次回のイベント</h2>

  <div class="event-info">
    <img class="thumb" src="holder.js/200x125">

    <dl class="event-detail">
      <dt class="label">タイトル</dt>
      <dd class="text">ほげほげグラフィックレコーディング勉強会</dd>
      <dt class="label">日時</dt>
      <dd class="text">2016/5/5 18:00〜21:00</dd>
      <dt class="label">会場</dt>
      <dd class="text">恵比寿301スタジオ</dd>
    </dl>
    <p><a href="#" class="pure-button pure-button-primary">申し込みはこちら</a></p>
  </div>
</section>

<section class="section-activities top-section">
  <h2>活動の様子</h2>

  <ul class="report-list">
    {% for post in site.posts limit:5 %}
      <li><a href="{{post.url}}" class="report-item">
        <img class="thumb" src="holder.js/160x140" alt="{{ post.thumb }}">
        <ul class="detail">
          <li class="title">{{ post.title }}</li>
          {{ post.excerpt }}
          <li class="category pure-button">{{ post.categories }}</li>
          <li class="date">{{ post.date | date: "%Y/%-d/%m" }}</li>
        </ul>
      </a></li>
    {% endfor %}
  </ul>

  <p><a href="{{ site.page_url_activities }}" class="pure-button">活動実績一覧</a></p>
</section>

<section class="section-facebook top-section">
  <p>
    <a href="#" class="pure-button pure-button-primary"><i class="fa fa-facebook"></i> Facebookページ</a>
    <a href="#" class="pure-button">参加者交流グループ</a>
  </p>
</section>

    {% include footer.html %}

<!-- /contents-wrapper --></div>