<section class="section-nextevent top-section">
  <h2 class="top-subHeader">次回のイベント</h2>

  <div class="event-info">
    <img class="thumb" src="img/event.png" alt="" width="320" height="142">

    <dl class="event-detail">
      <dt class="labelhidden">イベント名</dt>
      <dd class="text">チャレンジ！グラフィックレコーディング2016　~描くことで見える世界を拡げよう！~</dd>
      <dt class="label">日時</dt>
      <dd class="text">2016年4月16日(土) 13:00〜18:00</dd>
      <dt class="label">会場</dt>
      <dd class="text">株式会社DeNA セミナールーム<span class="maplink">地図を見る</span></dd>
    </dl>
  </div>
  <p class="-mb0"><a href="https://eventon.jp/2989/" class="pure-button pure-button-primary">申し込みはこちら</a></p>
</section>
