<footer class="site-footer">
  <section class="section-facebook">
    <p>
      <a target="_blank" href="https://www.facebook.com/graphicrecord/" class="pure-button button-ghost -gray"><i class="fa fa-facebook"></i> Facebook</a>
      <a target="_blank" href="https://www.facebook.com/groups/grworkshop/" class="pure-button button-ghost -gray">参加者交流グループ</a>
    </p>
  </section>

  <p class="mail">お問い合わせ：<a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> {{ site.email }}</a></p>
  <p class="copy">&copy;{{ site.title }}</p>
</footer>
