<section class="section-activities top-section">
  <h2 class="top-subHeader">活動実績</h2>

  <ul class="report-list">
    {% for post in site.posts limit:5 %}
      <li><span class="report-item"><span class="report-inwrap">
        <img class="thumb" src="holder.js/100x100" alt="{{ post.thumb }}">
        <p class="title">{{ post.title }}</p>
<!--          {{ post.excerpt }}-->
        <dl class="detail">
          <dt class="label">日時</dt>
          <dd class="data">{{ post.date | date: "%Y/%-m/%-d" }}</dd>
          <dt class="label">レベル</dt>
          <dd class="data">{{ post.categories }}</dd>
          <dt class="label">会場</dt>
          <dd class="data">{{ post.place }}</dd>
          {% if post.company %}
          <dt class="label">依頼元</dt>
          <dd class="data">{{ post.company }}</dd>
          {% endif %}
        </dl>
      </span></span></li>
    {% endfor %}
  </ul>

  <p><a href="{{ site.page_url_activities }}" class="pure-button pure-button-primary">過去の実績一覧</a></p>
</section>
