// color
$color-base:  #0078e7;
$color-hover: #f5f5f5;
$color-bd:    #efdddd;
$color-link:  #666688;

// font-size
$fs-xsmall: 0.60rem;
$fs-small: 0.78rem;
$fs-large: 1.6rem;

// media query
$mq-tab: "min-width: 48em";
