@charset "utf-8";

// headings
// --------------

.top-subHeader {
    color: $color-base;
}

.page-subHeader {
    font-size: $fs-mlarge;
}

.page-miniHeader {
    font-size: $fs-normal;
    margin-bottom: 0.3em;
}

// links
// --------------

.link-toTop {
    text-align: center;
    margin: 60px 0;
}


// ghost button
// --------------

.button-ghost {
    color: white !important;
    border: solid 1px white;
    background-color: transparent;
    transition: background 0.3s linear;
    font-size: $fs-small;
    padding: 0.75em 1.5em;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    &.-gray {
        color: $color-gray !important;
        border-color: $color-gray;
    }
}
@media ($mq-tab) {
    .button-ghost {
        border-width: 1px;
        border-radius: 20px;
        letter-spacing: 0.2em;
        &.-gray {
            border-width: 1px;
        }
    }
}

// post-content
// --------------

.post-content {
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;

    ul {
        list-style: disc;
        padding-left: 2em;
    }

}

// content-wrapper
.content-wrapper {
    padding-top: 56.25%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

// header
// --------------
.site-header {
    @extend %clearfix;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: white;

    .pure-menu-heading {
        color: $color-gray;
        font-weight: 400;
        font-size: 120%;
    }
    .pure-menu-selected a {
        color: $color-gray;
    }
    a {
        color: $color-gray;
    }
    li a:hover,
    li a:focus {
        background: none;
        border: none;
        color: #aecfe5;
    }
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

@media ($mq-tab) {
    .site-header {
        text-align: left;
        .pure-menu-list {
            margin-top: 5px;
            float: right;
        }
    }
}

// site-title
// --------------
.site-title {
    margin: 0;
    padding: 0.1em;

    > a {
        text-decoration: none;
        font-weight: normal;
        font-size: $fs-mlarge;
    }

    &:before {
        content:"";
        display: inline-block;
        width: 48px;
        height: 47px;
        background: url("../img/graben_logo.png") no-repeat;
        vertical-align: middle;
        margin-right: 0.4em;
    }
}

// footer
// --------------
.site-footer {
    background: $color-base;
    color: white;
    padding: 0.5em 1em;
    border-top: solid 1px gray;
    text-align: center;

    a:link {
        color: white;
    }
    a:hover {
        text-decoration: none;
    }

    > .copy, > .mail {
        font-size: $fs-small;
        display: inline;
        margin: 0;
    }
    > .desc {display: none;}
}

@media ($mq-tab) {
    .site-footer {
        text-align: left;

        > .copy {}
        > .mail {float: right;}
        > .desc {
            font-size: $fs-small;
        }
    }
}


// splash
// --------------

.splash-container {
    background-size:cover;
    z-index: 1;
    overflow: visible;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    top: 64px;
    left: 0;
    position: absolute;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 100%;
    height: 100%;
    background: url(../img/splash.jpg);
    background-size: cover;
    margin: auto;
    position: absolute;
    text-align: center;
    box-shadow: 0 1px 2px $color-shadow;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: url("/img/logo.png") center no-repeat;
}

@media ($mq-tab) {
    .splash-head {
        background: url(../img/logo@2x.png) center no-repeat;
    }
}


/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

// link with cared
// --------------

._withCaret {
    &:before {
        content: "\f0da";
        font-family: FontAwesome;
        margin-right: 0.25rem;
    }
}

// list with marker
// --------------
._withMarker {
    background-image: url("data:image/gif;base64,R0lGODlhAgACAIAAAH+MjQAAACH5BAAAAAAALAAAAAACAAIAAAIChFEAOw==");
    background-repeat: no-repeat;
    background-position: 0 0.85em;
    padding-left: 10px;
}

.addition {
    font-size: $fs-small;
    display: block;
}

// normal-list
// --------------

.normal-list {
    > .item {
    }
}

// wide-list
// --------------

.wide-list {
    line-height: 1.4;
    > .item {
        margin-bottom: 20px;
    }
}

// inline-list
// --------------

.inline-list {
    > .item {
        display: inline;
        margin-right: 2rem;
    }
}

// section
// --------------
.top-section {
    text-align: center;
    width: 80%;
    margin: 80px auto;
}

.section-facebook {
    margin: 50px auto;
    text-align: center;

    .pure-button {
        margin: 0 1em;
    }
}

.page-section {
    margin: 50px auto;
}

// 枠付き注釈
// --------------

.box-note {
    border: solid 1px $color-bd;
    padding: 0 30px;
}

// ページのヘッダー
// --------------
.post-header {
    background: $color-bg;
    padding: 40px;
    margin-bottom: 20px;
}

// 次回のイベント
// --------------
.section-nextevent {
    background: $color-bg;
    padding: 40px 10%;
}

.event-info {

    > .thumb {
        float: left;
    }
    > .event-detail {
        @extend %clearfix;
        margin: 0 auto 20px;
        padding-left: 380px;
        line-height: 1.3;
        text-align: left;

        > .label {
            @extend %label;

            width: 3em;
            margin: 0.5em 0;
        }
        > .text {
            margin: 0;
        }
    }
}

// 活動の様子
// --------------
.section-activities {
    width: 100%;
}

.report-list {
    list-style: none;

    .report-item {
        @extend %clearfix;
        display: block;
        text-decoration: none;
        color: $color-txt-base;
        text-align: left;
        padding: 15px 10%;
        border-top: solid 1px transparent;
        border-bottom: solid 1px transparent;
        transition: background 0.1s ease-out;

        &:hover {
            background: $color-bg-active;
            border-color: $color-bd;
        }

        > .thumb {
            float: left;
            margin-right: 10px;
            width: 100px !important; // remove !important
            height: auto !important; // remove !important
        }

        > .title {
            font-weight: bold;
            padding-left: 120px;
        }

        > .detail {
            list-style: none;
            padding-left: 120px;
            margin: 0;

            > .data {
                display: block;
                font-size: $fs-normal;
                margin-left: 5em;
                line-height: 1;
                padding: 0.25em 0;
                margin-bottom: 6px;
            }
            > .label {
                @extend %label;

                float: left;
                width: 5em;
            }
            p {
                margin: 10px 0;
            }
        }

        @media ($mq-tab) {
            > .thumb {
                width: auto !important; // remove !important
                height: auto !important; // remove !important
            }
            > .title {
                padding-left: 180px;
            }
            > .detail {
                padding-left: 180px;
            }
        }
    }
}


// 相談フォーム
// --------------

.offer-form {
    background: $color-bg;
    padding: 30px;
    margin-bottom: 30px;

    .form-item {
        display: block;
        margin-bottom: 20px;
        > .label {
            display: block;
            color: #34495e;

            &._isRequire:after {
                content: "必須";
                display: inline-block;
                background: red;
                color: white;
                font-size: $fs-small;
                line-height: 1.2;
                padding: 4px 6px 2px;
                vertical-align: middle;
                margin-left: 0.4rem;
            }
        }
        > .option {
            display: block;
            color: #888;
            padding-left: 5px;
        }

        > .addition {
            color: #999;
            font-size: $fs-small;
            line-height: 1.3;
            margin-top: 10px;
            border-left: solid 3px #ccc;
            padding-left: 10px;
        }
    }
}

// 活動一覧
// --------------

.activities-table {
    margin-bottom: 30px;
}

.activirie-list {
    > .listitem {
        @extend %clearfix;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px $color-table-bd;

        > .badge {
            float: left;
            border: solid 1px gray;
            line-height: 3em;
            width: 4em;
            height: 3em;
            text-align: center;
        }
        > .title {
            font-weight: bold;
            margin-bottom: 0;
            margin-left: 5rem;
        }
        > .detail {
            margin-left: 5rem;

            > .item {
                display: inline;
                margin-right: 1rem;

                > .label {
                    line-height: 1;
                    font-size: $fs-xsmall;
                    background: gray;
                    color: white;
                    display: inline-block;
                    padding: 3px 6px;
                    margin-right: 0.4em;
                    vertical-align: middle;
                }
                > .data {
                    font-size: $fs-small;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}

// thanks page
// --------------

.thanks-header {
    margin: 120px 10px 60px;
    text-align: center;
}

.thanks-body {
    text-align: center;
    margin-bottom: 0;

    a {
        color: $color-txt-base;
    }
}

// top modal
// --------------

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px 30px 10px;
    border: 1px solid #888;
    font-size: $fs-small;
    line-height: 1.4;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;

    iframe {
        margin: 0 auto;
    }
}

@media ($mq-tab) {
    .modal-content {
        min-width: 600px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0 gray;
    }
}

.close {
    color: #aaa;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
