@charset "utf-8";

// headings
// --------------

.top-subHeader {
    color: $color-base;
    font-size: $fs-mlarge;
}

.page-subHeader {
    font-size: $fs-large;
    margin: 30px 0;
    border-bottom: 1px solid $color-bd;
    padding: 0 0 5px;
}

.page-miniHeader {
    font-size: $fs-normal;
    margin-bottom: 0.3em;
}

// links
// --------------

.link-toTop {
    text-align: center;
    margin: 60px 0;
}


// ghost button
// --------------

.button-ghost {
    color: white !important;
    border: solid 1px white;
    background-color: transparent;
    transition: background 0.3s linear;
    font-size: $fs-xsmall;
    font-weight: bold;
    padding: 0.8em 1.5em 0.7em;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    &.-gray {
        color: $color-gray !important;
        border-color: $color-gray;
        font-size: $fs-xsmall;
    }
}
@media ($mq-tab) {
    .button-ghost {
        border-width: 1px;
        border-radius: 20px;
        letter-spacing: 0.2em;
        &.-gray {
            border-width: 1px;
            font-size: $fs-xsmall;
        }
    }
}

// top-content
// --------------
.top-leadParagraph {
  font-size: $fs-small;
  line-height: 1.6;
  margin: 40px 0;
}


// post-content
// --------------

.post-content {
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;

    ul {
        list-style: disc;
        padding-left: 2em;
    }

}
@media ($mq-tab) {
    .post-content {
    }
}

// content-wrapper
.content-wrapper {
    padding-top: 56.25%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

// header
// --------------
.site-header {
    @extend %clearfix;
    padding: 0.5em 40px 0;
    text-align: center;
    border-bottom: 1px solid $color-bd-gray;
    box-shadow: 0 3px 3px rgba(0,0,0, 0.30);
    background: white;

    .pure-menu-heading {
        color: $color-gray;
        font-weight: 400;
        font-size: 120%;
    }
    .pure-menu-selected a {
        color: $color-gray;
    }
    a {
        color: $color-gray;
    }
    li a:hover,
    li a:focus {
        background: none;
        border: none;
        color: #aecfe5;
    }
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

@media ($mq-tab) {
    .site-header {
        text-align: left;
        .pure-menu-list {
            margin-top: 5px;
            float: right;
        }
    }
}

// site-title
// --------------
.site-title {
    margin: 0;
    padding: 0.1em;
    line-height: 40px;

    > a {
        text-decoration: none;
        font-weight: bold;
        font-size: $fs-msmall;
    }
    @media ($mq-tab) {
        > a {
            font-size: $fs-msmall;
        }
    }

    &:before {
        content:"";
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url("../img/graben_logo.png") no-repeat;
        vertical-align: middle;
        margin-right: 0.4em;
    }
}

// footer
// --------------
.site-footer {
    background: $color-bg;
    padding: 50px 1em 30px;
    text-align: center;

    > .copy, > .mail {
        font-size: $fs-small;
        margin: 0;
    }
}

@media ($mq-tab) {
    .site-footer {
        text-align: center;

        > .mail {}
        > .copy {
          margin-top: 50px;
        }
        > .desc {
            font-size: $fs-small;
        }
    }
}


// splash
// --------------

.splash-container {
    background: url(../img/splash.jpg);
    background-size: cover;
    z-index: 1;
    overflow: visible;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    top: 50px;
    left: 0;
    position: absolute;
    box-shadow: 0 1px 2px $color-shadow;
}

.splash {
    /* absolute center .splash within .splash-container */
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px $color-gray;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  color: white;
}

.splash-lead {
  color: white;
}


@media ($mq-tab) {
    .splash-head {
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
}


/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

// link with cared
// --------------

._withCaret {
    &:before {
        content: "\f0da";
        font-family: FontAwesome;
        margin-right: 0.25rem;
    }
}

// list with marker
// --------------
._withMarker {
    background-image: url("data:image/gif;base64,R0lGODlhAgACAIAAAH+MjQAAACH5BAAAAAAALAAAAAACAAIAAAIChFEAOw==");
    background-repeat: no-repeat;
    background-position: 0 0.85em;
    padding-left: 10px;
}

.addition {
    font-size: $fs-small;
    display: block;
}

// normal-list
// --------------

.normal-list {
    > .item {
    }
}

// wide-list
// --------------

.wide-list {
    line-height: 1.4;
    > .item {
        margin-bottom: 20px;
    }
}

// inline-list
// --------------

ul.inline-list {
    padding-left: 0;
    > .item {
        display: inline;
        margin-right: 2rem;
    }
}

// section
// --------------
.top-section {
    text-align: center;
    width: 80%;
    margin: 100px auto;
}

.section-facebook {
    margin: 0 auto;
    text-align: center;

    .pure-button {
        margin: 0 1em;
        width: 16em;
    }
}

.page-section {
    text-align: center;
    margin: 50px auto 100px;

}

@media ($mq-tab) {
    .page-section {
      max-width: 960px;
      &.-horizontal {
        max-width: 100%;
        min-width: 960px;
      }
    }
}

// 枠付き注釈
// --------------

.box-note {
    border: solid 1px $color-bd;
    padding: 20px 30px 0;
    > .box-header {
        font-size: $fs-mlarge;
    }
}

// ページのヘッダー
// --------------
.post-header {
    background: $color-bg;
    padding: 50px 40px;
    margin: 0 0 20px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 54px;
    box-sizing: border-box;
    background-image: url('/img/post-header-bg.png');
    background-repeat: no-repeat;
    background-position: 90% center;

    > .post-title {
      margin: 0;
    }
}
@media ($mq-tab) {
    .post-header {
        min-width: 960px;
    }
}

.page-content {
    padding: 0 0 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;

    th {
        width: 35%;
    }
    td {
        width: 65%;
    }
    p {
        margin: 1em 0;
    }
    .lead-paragraph {
      margin-bottom: 50px;
    }
}
@media ($mq-tab) {
    .page-content {
        min-width: 960px;
    }
}



// 次回のイベント
// --------------
.section-nextevent {
    background: $color-bg;
    padding: 40px 10%;
}

.event-info {
    font-size: $fs-small;

    > .thumb {
    }
    > .event-detail {
        @extend %clearfix;
        margin: 0 auto 20px;
        line-height: 1.3;
        text-align: left;

        > .label {
          margin: 0.2em 0;
        }

        > .labelhidden {
            display: none;
        }
        > .text {
            font-weight: bold;
            margin: 0;
            display: inline;

            &:after {
                content: "\A";
                white-space: pre;
            }
        }
    }

    @media ($mq-tab) {
        width: 600px;
        margin: 35px auto;
        > .thumb {
            float: left;
        }
        > .event-detail {
            padding-left: 365px;
            > .label {
                display: block;
            }
            > .text {
                display: block;
            }
        }
    }
}

// 活動の様子
// --------------
.section-activities {
    width: 100%;
}

.report-list {
    list-style: none;

    .report-item {
        @extend %clearfix;
        display: block;
        text-decoration: none;
        color: $color-txt-base;
        text-align: left;
        padding: 15px 0;
        border-top: solid 1px transparent;
        border-bottom: solid 1px transparent;
        transition: background 0.1s ease-out;

        // &:hover {
        //     background: $color-bg-active;
        // }

        .report-inwrap {
            display: block;
            width: 600px;
            margin: 0 auto;

            > .thumb {
                float: right;
                margin-right: 10px;
                width: 100px !important; // remove !important
                height: auto !important; // remove !important
            }

            > .title {
                font-size: $fs-msmall;
                line-height: 1.3;
                font-weight: bold;
                padding: 0 120px 0 0;
                margin-bottom: 15px;
            }

            > .detail {
                font-size: $fs-xsmall;
                list-style: none;
                margin: 0;

                > .data {
                    display: block;
                    margin-left: 3.5rem;
                    line-height: 1;
                    padding: 0.25em 0;
                }
                > .label {
                    @extend %label;

                    font-size: $fs-exsmall;
                    padding: 0.4em 0.1em 0.2em;
                    background-color: #fc9889;
                    float: left;
                    width: 2.5rem;
                }
                p {
                    margin: 10px 0;
                }
            }

            @media ($mq-tab) {
                > .thumb {
                    float: left;
                    width: auto !important; // remove !important
                    height: auto !important; // remove !important
                }
                > .title {
                    padding: 0 0 0 115px;
                }
                > .detail {
                    padding-left: 115px;
                    > .data {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}


// 相談フォーム
// --------------

.offer-form {
    background: $color-bg;
    padding: 30px;
    margin-bottom: 30px;

    .form-item {
        display: block;
        margin-bottom: 20px;
        > .label {
            display: block;
            color: #34495e;

            &._isRequire:after {
                content: "必須";
                display: inline-block;
                background: red;
                color: white;
                font-size: $fs-small;
                line-height: 1.2;
                padding: 4px 6px 2px;
                vertical-align: middle;
                margin-left: 0.4rem;
            }
        }
        > .option {
            display: block;
            color: #888;
            padding-left: 5px;
        }

        > .addition {
            color: #999;
            font-size: $fs-small;
            line-height: 1.3;
            margin-top: 10px;
            border-left: solid 3px #ccc;
            padding-left: 10px;
        }
    }
}

// 活動一覧
// --------------

.activities-table {
    margin-bottom: 30px;
}

.activirie-list {
    padding: 0 10px;

    > .listitem {
        @extend %clearfix;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: solid 1px $color-table-bd;

        > .badge {
            float: left;
            text-align: center;
            font-size: $fs-small;
            width: 68px;

            > img {
              border: solid 1px gray;
            }
        }
        > .title {
            font-weight: bold;
            margin-bottom: 0;
            margin-left: 5rem;
        }
        > .detail {
            margin-left: 5rem;

            > .item {
                display: inline;
                margin-right: 1rem;

                > .label {
                    line-height: 1;
                    font-size: $fs-xsmall;
                    background: gray;
                    color: white;
                    display: inline-block;
                    padding: 3px 6px;
                    margin-right: 0.4em;
                    vertical-align: middle;
                }
                > .data {
                    font-size: $fs-small;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media ($mq-tab) {
  .activirie-list {
    max-width: 960px;
    margin: 0 auto;
  }
}
// thanks page
// --------------

.thanks-header {
    margin: 120px 10px 60px;
    text-align: center;
}

.thanks-body {
    text-align: center;
    margin-bottom: 0;

    a {
        color: $color-txt-base;
    }
}

// itemlist-table
// --------------

.itemlist-table {
    width: 100%;

    tr > *:nth-child(1) {
        width: 40%;
    }
    tr > *:nth-child(2) {
        width: 30%;
    }
    tr > *:nth-child(3) {
        width: 30%;
    }
}

// top modal
// --------------

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px 30px 10px;
    border: 1px solid #888;
    font-size: $fs-small;
    line-height: 1.4;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;

    iframe {
        margin: 0 auto;
    }
}

@media ($mq-tab) {
    .modal-content {
        min-width: 600px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0 gray;
    }
}

.close {
    color: #aaa;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// workshop
// --------------

.workshop-quality {
  @extend %clearfix;

  > .quality-description {
    > p {
      font-size: $fs-small;
      line-height: 1.3;
    }
  }
}

@media ($mq-tab) {
  .workshop-quality {

    width: 820px;
    margin: 50px auto;

    > .quality-description {
      float: left;
      width: 270px;
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      > p {
        margin-top: 35px;
      }
    }
  }
}

.workshop-types {

  > .workshop-type {
    padding: 20px 0;

    // &:hover {
    //   background: $color-bg;
    // }

    > .inwrap {

      > .image {}
      > .title {
        color: $color-base;
        font-size: $fs-normal;
        margin-bottom: 0.2em;
      }
      > .description {
        font-size: $fs-small;
        line-height: 1.4;
      }
      > .pdf {
        font-size: $fs-small;
      }
    }
  }
}

@media ($mq-tab) {
  .workshop-types {
    margin: 50px 0;
    text-align: left;

    > .workshop-type {
      > .inwrap {
        width: 850px;
        min-height: 140px;
        margin: 0 auto;
        display: block;

        > .image {
          float: right;
        }
        > .title {}
        > .description {}
        > .pdf {}
      }
    }
  }
}
